@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-background: radial-gradient(ellipse at top, #5719198c, transparent 60%), linear-gradient(180deg, hsl(0 0% 9%), hsl(0 0% 6%));
  --foreground: #d3d2d2;
  --font-fraunces: 'Fraunces', 'Times New Roman';
  --font-inter: 'Inter', 'Arial';

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--foreground);
  font-family: var(--font-inter);
  font-size: 16px;
}

h1 {
  font-family: var(--font-fraunces);
  font-size: 24px;
  font-weight: 600;

}

button {
  cursor: pointer;
}

dialog {
  padding: 0;
}