@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --color-background: radial-gradient(ellipse at top, #5719198c, transparent 60%), linear-gradient(180deg, hsl(0 0% 9%), hsl(0 0% 6%));
  --color-text1: #d3d2d2;
  --color-text2: #a69e96;
  --color-primary-red: #962c2c;
  --shadow-elegant: 0 20px 50px -20px hsl(0 70% 10% / .7);
  --font-fraunces: 'Fraunces', 'Times New Roman';
  --font-inter: 'Inter', 'Arial';
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text1);
  font-family: var(--font-inter);
  font-size: 16px;
}

h1 {
  font-family: var(--font-fraunces);
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-family: var(--font-fraunces);
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-family: var(--font-fraunces);
}

button {
  cursor: pointer;
}

dialog {
  padding: 0;
}

.card-bg {
  background: linear-gradient(160deg, hsl(0 0% 11%) 0%, hsl(0 0% 8%) 100%);;
}

.card-bg:hover h3 {
  color: var(--color-primary-red);
}

.card-bg:hover {
  box-shadow: 0 0 40px hsl(0 55% 38% / .25);
}